@model PropertyManagementTool.Models.OwnerViewModel
@{
    ViewBag.Title = "Create Account";
}
<br/>
<h5>@ViewBag.Title</h5>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Name, new { @class= "control-label" })
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-2">
            @Html.LabelFor(model => model.TypeId, new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.TypeId, ((SelectList)ViewBag.OwnerTypes), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Address, new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Save" />
    @Html.ActionLink("Cancel", "SelectAccount", null, new { @class = "btn btn-secondary" })
}
