@model PropertyManagementTool.Models.OwnerEditViewModel
@{
    ViewBag.Title = "Edit account";
}

<br/>
<h5>@ViewBag.Title</h5>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
            @Html.LabelFor(model => model.TypeId, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.TypeId, ((SelectList)ViewBag.OwnerTypes), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Address, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Save" />
    @Html.ActionLink("Cancel", "SelectAccount", null, new { @class="btn btn-secondary" })                                                             
}
