@model PropertyManagementTool.Models.SelectOwnerViewModel
@{
    ViewBag.Title = "My Accounts";
}
<br/>
<h5>@ViewBag.Title</h5>
<hr/>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-group">
            <label class="control-label">Select the account you want to work with. If you do not have an account, you must create one.</label>
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Id, (SelectList) ViewBag.OwnersList, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Id)
        </div>
        <br/>
        <div class="form-group">
            <input type="submit" name="command" class="btn btn-primary" value="Select"/>
            <input type="submit" name="command" class="btn btn-primary" value="Edit"/>
            <input type="submit" name="command" class="btn btn-primary" value="Create"/>
        </div>
    </fieldset>
}